**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6**

In [21]:
type('-')

str

In [22]:
type("*")

str

In [23]:
type("+")

str

In [24]:
type(6)

int

In [25]:
type('hello')

str

In [26]:
type(-87.8)

float

**2. What is the difference between string and variable?**

**Variable** is used to store a information whereas **String** is a type of information which whould like to store in a variable

**3. Describe three different data types.**

1. String : which stores the alphanumeric values in to the variable.
2. int : which stores the whole number 
3. Boolean :returns the True or False
4. Float : returns the decimal point number

**4. What is an expression made up of? What do all expressions do?**

    An expression is made up of  variables , operators and methods which are constructed according to the syntax of the language and evaluate to a single value

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

    Expression evaluates some values whereas statements create some variables or display some values etc.
    eg . spam = 10 //assignment statement
         spam = 10 + spam //Expression

**6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1**

In [29]:
bacon = 20
bacon + 1

21

so which gives bacon + 1 //assign value + 1 

but bacon value remains as it is bcoz we haven't stores in bacon = bacon + 1

In [32]:
bacon

20

**7. What should the values of the following two terms be?
'spam'+'spamspam'
'spam'*3**

In [34]:
'spam' + 'spamspam'

'spamspamspam'

In [35]:
'spam'*3

'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?**

    According to the syntax name must not be started with int so, 100 is invalid whereas eggs is valid because it starts from string

**9. What three functions can be used to get the integer, floating-point number, or string
version of a value?**

int()
float()
str()

**10. Why does this expression cause an error? How can you fix it?
'I have eaten'+99+'burritos'**

In [40]:
'I have eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str 
    so we can concate only str --> int is not allowed
    resolve the error by:::
    if you want to add some int value then we need to use inverted comma
    eg , 'I have eaten 99 burritoes'
    or 'I have eaten'+' 99 '+'burritoes'

In [49]:
 'I have eaten 99 burritoes'

'I have eaten 99 burritoes'

In [50]:
 'I have eaten'+' 99 '+'burritoes'

'I have eaten 99 burritoes'